body{
  padding: 25px;
  background-color: rgb(35,35,35);
}

#title {
	color: #5C6AC4;
}

#isaacFact {
  background-color: rgb(45, 45, 45);
  color: rgb(220, 220, 220);
}

#output {
  color: white;
}

#image {
  height: 200px;
}

#description {
  color: white;
}